<h3 class="sub-header">Assignment Language Analysis</h3>
<div class="container">
  <div id="explanation-container">
  <form class="new-post" action='/' method="post">
    <textarea name="post[body]" class="text" rows="15" cols="50" class="query"></textarea>
    <input type="submit" value="Submit for Analysis" />
  </form>
  </div>
</div>
